# Java / Maven
target/
*.class
*.jar
*.war
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
build/
.vite/
*.log
npm-debug.log*

# Entornos
.env
.env.local
.env.*.local

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Ofimática
~$*.docx
~$*.xlsx
~$*.pptx
